*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: whitesmoke;
}
.container{
    display: flex;
}
.card{
    height: 500px;
    margin: 50px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
}
img{
    height: 500px;
    width: 350px;
    border-radius: 3px;
}
.intro{
    height: 70px;
    width: 350px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    background: rgba(27,27,27,.5);
    color: white;
    bottom: 70px;
    transition: .5s;
}
h1{
    margin: 10px;
    font-size: 40px;
}
p{
    font-size: 20px;
    margin: 20px;
    visibility: hidden;
    opacity: 0;
}
span{
    font-weight: bold;
}
.card:hover{
    cursor: pointer;
}
.card:hover .intro{
    height: 220px;
    bottom: 70px;
    background:rgb(58, 54, 54);
}
.card:hover p{
    visibility: visible;
    opacity: 1;
}
.card:hover img{
    transform: scale(1.1) rotate(-3deg);
}

/* ---------------------------------------------------------------------- */
@media (min-width: 601px) and (max-width: 768px) { 
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        background: whitesmoke;
        height: 100vh;

    }
    
    
    .container{
        display: flex;
        flex-direction: column;
        height: 100vh;
        margin-top: 700px;
    }
    .card{
        height: 400px;
        width: 400px;
    }
    img{
        height: 400px;
        width: 400px;
    }
    .intro{
        height: 70px;
        width: 400px;
        padding: 6px;
        box-sizing: border-box;
        position: absolute;
        bottom: 70px;
    }
    .card:hover .intro{
        height: 220px;
        bottom: 10px;
    }
   
    p{
        font-size: 25px;
        margin: 20px;
        visibility: hidden;
        opacity: 0;
    }
    .card:hover p{
        visibility: visible;
        opacity: 1;
    }
   
}